node_modules/
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.vscode/
coverage/
logs/
*.log
docker-compose.override.yml
*.pem

# local mongo data if accidentally created
mongo_data/

# Editor directories and files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
